<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #fce4ec"
  *ngIf="!isLogined()"
>
  <a class="navbar-brand">
    <img
      src="assets/images/logo-pink.png"
      alt="Logo"
      style="height: 40px; margin-right: 10px"
    />
    Shamsia
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Collection
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
          style="background-color: #fce4ec"
        >
          <a class="dropdown-item" routerLink="/collection-one">Collection 1</a>
          <a class="dropdown-item" routerLink="/collection-two">Collection 2</a>
          <a class="dropdown-item" routerLink="/collection-three"
            >Collection 3</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <div class="navbar-buttons d-flex flex-column flex-lg-row">
      <a
        class="btn btn-outline-primary mr-0 mr-lg-2 mb-2 mb-lg-0"
        (click)="navigateToLogin()"
        >Login</a
      >
      <a class="btn btn-primary" (click)="navigateToSignUp()">Sign Up</a>
    </div>
  </div>
</nav>
