<footer class="footer" *ngIf="!isLogined()">
  <div class="container d-flex justify-content-between align-items-center py-4">
    <span class="text-muted">© 2024 Shamsia . All rights reserved.</span>
    <div class="social-links">
      <a
        href="https://www.facebook.com"
        target="_blank"
        class="mx-2"
        aria-label="Facebook"
      >
        <i class="fab fa-facebook-f" style="color: #e91e63"></i>
      </a>

      <a
        href="https://www.instagram.com"
        target="_blank"
        class="mx-2"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram" style="color: #e91e63"></i>
      </a>
    </div>
  </div>
</footer>
