<div class="container mt-3 edit-product-container">
  <h3 class="text-center mb-4" style="color: #e91e63">Edit Specific Product</h3>
  <form
    [formGroup]="editProductForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="form-group mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
    </div>
    <div class="form-group mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        formControlName="price"
      />
    </div>
    <div class="form-group mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input
        type="number"
        class="form-control"
        id="stock"
        formControlName="stock"
      />
    </div>
    <div class="form-group mb-3">
      <label for="category_id" class="form-label">Category</label>
      <select
        class="form-control"
        id="category_id"
        formControlName="category_id"
      >
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="images" class="form-label">Product Images</label>
      <input
        type="file"
        class="form-control"
        id="images"
        (change)="onFileSelect($event)"
        multiple
      />
    </div>
    <div class="form-group mb-3">
      <label for="existing-images" class="form-label">Existing Images</label>
      <div *ngIf="existingImages.length">
        <div
          *ngFor="let image of existingImages"
          class="existing-image-container mb-2"
        >
          <img
            [src]="image"
            alt="Product Image"
            class="img-thumbnail"
            style="max-height: 100px"
          />
          <button
            type="button"
            class="btn btn-danger btn-custom-danger"
            (click)="onImageDelete(image)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-custom-primary"
      [disabled]="editProductForm.invalid"
    >
      Save Changes
    </button>
  </form>
</div>
