<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="add-product" routerLinkActive="active"
        >Add Product</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="edit-delete-product"
        routerLinkActive="active"
        >Edit/Delete Products</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="user-products" routerLinkActive="active"
        >User Products</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="orders-management"
        routerLinkActive="active"
        >Orders Management</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="categories-management"
        routerLinkActive="active"
        >Categories Management</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="reviews-management"
        routerLinkActive="active"
        >Reviews Management</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="user-management" routerLinkActive="active"
        >User Management</a
      >
    </li>
  </ul>
  <div class="tab-content mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
